.contact-page {
  text-align: center;
  padding: 50px 15px;
  height: 100vh;
  color: #334155;
}

.contact-description {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-page p {
  margin-bottom: 8px;
}

.contact-page h3 a {
  color: #334155;
  text-decoration: none;
}

.contact-page h3 a i {
  font-size: 18px;
  margin-left: 5px;
  color: #25d366;
}

.contact-page input,
.contact-page textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

.submit-button {
  background-color: #334155;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #293847;
}

@media (max-width: 500px) {
  .contact-form {
    max-width: 300px;
  }
}
